* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Grande";
  }
  header a {
    text-decoration: none;
    
  }

  header a:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.9) ;
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .headerLeft {
    float: left;
    margin-top: 10px;
    color:rgb(0, 0, 0);
  }
  .headerLogo {
    font-size: 25px;
    color:deepskyblue;
  }
  .headerLogoDesc {
    font-size: 10px;
  }
  
  .headerRight {
    float: right;
    margin-right: -25px;
  }
  
  .headerRight a {
    line-height: 65px;
    padding: 0 25px;
    color:rgb(0, 0, 0);;
    float: left;
    transition: all 0.5s;
  }
  #tes {
    color:deepskyblue;
    float: right;
    text-align: center;
    font-size: 25px;
    padding: 10px 10;
    text-decoration: none;
    display:none;
  }
     
  .signup {
    background-color: deepskyblue;
    opacity: 0.8;
    text-decoration: none;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 7px skyblue;
  }

  .signup:hover {
    background-color: deepskyblue;
    opacity: 1;
  }
  .signup:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  .topWrapper {
    background-color: rgba(0, 0, 0, 1);
    padding: 180px 0 100px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .topBg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  .topContent {
    text-shadow: 2px 2px 4px #000000;
    position: relative;
    color:white;
  }
  
  .topWrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  .topWrapper p {
    margin-bottom: 3px;
  }
  
  .btnWrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btWrapper p {
    margin: 10px 0;
  }

  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000
  }

.main {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-family: "Avenir Next";
} 

.contents {
  height: 500px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  margin-bottom: 50px;
  padding-top: 80px;
  padding-bottom: 15px;
}

h3 {
  font-size: 36px;
}

.contents-item {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
}

.contents-item p {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}

.contact-form{
  padding-top:10px;
}

input, textarea {
  border:1px solid #dee7ec;
  margin-top:10px;
  margin-bottom:30px;
  width:400px;
}

textarea {
  height:100px;
  overflow: scroll;
}

.contact-submit {
  margin-bottom: 100px;
  background-color:#dee7ec;
  color:#889eab;
  font-size:18px;
}
.contact-submit:hover {
  background-color: #dee7ec85;
}

footer {
  border-top: 2px solid #dee7ec;
  height: 170px;
  width: 100%;
  text-align: center;
}
.footer-logo {
  margin-top: 20px;
  color: deepskyblue;
  font-size: 25px;
}

.footer-slogan{
  margin-bottom: 20px;
}

.footer-sosmed {
 display: inline-block;
}

.footer-sosmed li {
  list-style: none;
  float:left;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}

.power {
  margin-top: 10px;
}
